<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Plurry"
        tools:targetApi="31">
        <activity
            android:name=".raising.RaisingItemActivity"
            android:exported="false"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".raising.RaisingStoryPlayActivity"
            android:exported="false"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".raising.RaisingStoryActivity"
            android:theme="@style/PopupTheme"
            android:exported="false" />
        <activity
            android:name=".crewstep.CrewLineMakeCrewActivity"
            android:exported="false" />
        <activity
            android:name=".crewstep.CrewLineChooseActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginOtherJoinActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginJoinActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ranking.RankingMainActivity"
            android:exported="false" />
        <activity
            android:name=".pointrecord.PointRecordMainActivity"
            android:exported="false" />
        <activity
            android:name=".crewstep.CrewLineMainActivity"
            android:exported="false" />
        <activity
            android:name=".goingwalk.GoingWalkMainActivity"
            android:exported="false" />
        <activity
            android:name=".goingwalk.MapViewActivity"
            android:exported="false" />
        <activity
            android:name=".raising.RaisingMainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">
<!--            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_camera" />
        </provider>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
    </application>

</manifest>